dev tun
proto {{cloak_server.proto}}
port {{cloak_server.port}}
cipher {{cloak_server.cipher}}
auth {{cloak_server.digest}}

{% if not logging %}
log-append /dev/null
{% endif %}

server {% if cloak_server.proto=='udp' %}100.64.0.0{% else %}100.64.64.0{% endif %} 255.255.192.0

# We keep all of our certificates and CRLs in /etc/encryptme/pki/.
key /etc/encryptme/pki/cloak.pem
cert /etc/encryptme/pki/server.pem
ca /etc/encryptme/pki/anchor.pem
extra-certs /etc/encryptme/pki/client_ca.pem
crl-verify /etc/encryptme/pki/crls.pem

dh /etc/encryptme/pki/dh2048.pem

push "dhcp-option DNS {% if cloak_server.proto=='udp' %}100.64.0.1{% else %}100.64.64.1{% endif %}"

remote-cert-eku "TLS Web Client Authentication"

keepalive 10 120
{% if cloak_server.proto == 'udp' %}
push "explicit-exit-notify"
{% elif cloak_server.proto == 'tcp' %}
tcp-nodelay
{% endif %}

comp-lzo no
txqueuelen 1000
sndbuf 0
rcvbuf 0
push "sndbuf 493216"
push "rcvbuf 493216"
push "comp-lzo no"

{% if cloak_server.routes is defined %}
{% for route in cloak_server.routes %}
{% if route %}
{% set cidr = route.split('/') %}
push "route {{ cidr[0] }} {{ cloak_server.netmask_mapping[cidr[1]] }}"
{% endif %}
{% endfor %}
{% else %}
push "redirect-gateway def1"
{% endif %}