dev tun
proto {{data.proto}}
port {{data.port}}
cipher {{data.cipher}}
auth {{data.digest}}

{% if not logging %}
    log-append /dev/null
{% endif %}

server {% if data.proto=='udp' %}100.64.0.0{% else %}100.64.64.0{% endif %} 255.255.192.0

# We keep all of our certificates and CRLs in /etc/encryptme/pki/.
key /etc/encryptme/pki/cloak.pem
cert /etc/encryptme/pki/server.pem
ca /etc/encryptme/pki/anchor.pem
extra-certs /etc/encryptme/pki/client_ca.pem
crl-verify /etc/encryptme/pki/crls.pem

dh /etc/encryptme/pki/dh2048.pem

push "dhcp-option DNS {% if data.proto=='udp' %}100.64.0.1{% else %}100.64.64.1{% endif %}"

remote-cert-eku "TLS Web Client Authentication"

keepalive 10 120
{% if data.proto == 'udp' %}
push "explicit-exit-notify"
fast-io
{% elif data.proto == 'tcp' %}
tcp-nodelay
{% endif %}

comp-lzo no
txqueuelen 1000
sndbuf 0
rcvbuf 0
push "sndbuf 493216"
push "rcvbuf 493216"
push "comp-lzo no"

{% if server.target.routes %}
    {% for route in server.target.routes %}
    {% set cidr_info = route.split('/') %}
push "route {{ cidr_info[0] }} {{ data.netmask_mapping[cidr_info[1]] }}"
    {% endfor %}
{% else %}
push "redirect-gateway def1"
{% endif %}
