# vim:ft=ipfilter

*filter

# Allow all loopback (lo0) traffic and drop all traffic to 127/8 that doesn't use lo0.
-A INPUT -i lo -j ACCEPT
-A INPUT ! -i lo -d 127.0.0.0/8 -j REJECT

-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp -j ACCEPT

# SSH
-A INPUT -p tcp --dport ssh -j ACCEPT

# OpenVPN
{% for config in cloak_server.target.openvpn %}
-A INPUT -p {{config.proto}} --dport {{config.port}} -j ACCEPT
{% endfor %}

# IPsec, isakmp, NAT-T
-A INPUT -p 50 -j ACCEPT
-A INPUT -p udp --dport 500 -j ACCEPT
-A INPUT -p udp --dport 4500 -j ACCEPT

# DNS through the tunnel
-A INPUT -s 10.137.0.0/16 -p udp --dport domain -j ACCEPT
-A INPUT -s 10.137.0.0/16 -p tcp --dport domain -j ACCEPT

# TODO Verify these two rules
# Everything else
# -A INPUT -j REJECT  # TODO << ME
-A INPUT -j ACCEPT

#VPN traffic pass through
-A FORWARD -s 10.137.0.0/16 -j ACCEPT
-A FORWARD -d 10.137.0.0/16 -j ACCEPT
COMMIT

*nat
-A POSTROUTING -s 10.137.0.0/16 -j SNAT --to-source {{ip}} --random
COMMIT

# Isolate all private addresses. In particular, don't let users see each other.
# TODO This rule???
# -A FORWARD -s 10.0.0.0/8 -d 10.0.0.0/8 -j DROP
