server:
    interface: 0.0.0.0
    access-control: 100.64.0.0/10 allow
    access-control: 127.0.0.1 allow
    do-ip6: no
    use-syslog: no
    logfile: ""

{% if safepep == '1' %}
include: /etc/unbound/hostfiles/adware-malware.conf
{% endif %}

# Set your upstream DNS resolvers here.
forward-zone:
    name: "."
    forward-addr: 8.8.8.8
    forward-addr: 8.8.4.4
